.exercise-wrapper {
  height: 6rem;
  padding: 5px;

  .name {
    margin-right: 10px;
  }

  .sets-wrapper {
    display: flex;
    align-items: center;

    .sets {
      display: flex;
      margin-right: 10px;
      
      .set {
        display: flex;
        flex-direction: column;
      }

      input {
        width: 2.5rem;
        height: 1.5rem;
        margin: 0.2rem;
      }
    }

    .add {
      padding: 6px;
      background-color: purple;
    }
  }
}